* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Fira Sans", sans-serif;
}

body {
  width: 100%;
  background-color: #31473a;
}

.container {
  width: 30rem;
  margin: 2rem auto;
}

.container h2 {
  text-align: center;
}

.container .form {
  background-color: #edf4f2;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.container input {
  flex: 1;
  background-color: transparent;
  padding: 1rem 8px;
  border: none;
  outline: none;
  color: #423644;
}

.container .form button:hover {
  background-color: #323529;
}

.container .form button {
  padding: 1rem 1rem;
  border: none;
  background-color: #7c8363;
}

.list .todo {
  display: flex;
  align-items: center;
  background-color: #edf4f2;
  margin: 1.5rem 0;
  font-size: 16px;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
}

.list .todo p {
  color: #423644;
  padding: 6px;
}

.list .todo button {
  padding: 1.2rem 12px;
  background-color: #d21500;
  border: none;
}

.list .todo button:hover {
  background-color: #ad1302;
}
